.devTools {
  position: absolute;
  bottom: 0;
  background: black;
  opacity: 0.4;
  color: white;
  padding: 20px;
  transition: all 0.3s;
}

.devTools:hover {
  height: 300px;
  width: 100%;
  opacity: 0.9;
}

.devTools .tools {
  display: none;
}

.devTools:hover .tools {
  display: block;
}
